.article-card-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}
  
.card-img-top {
  height: 180px;
}
  
.card-article-title {
  max-height: 90px;
  overflow: hidden;
}
  
.save-btn {
  width: 125px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: rgba(125, 12, 125, 0.75);
  border: purple;
}

.save-btn:hover, .save-btn:focus {
  background-color: rgba(65, 0, 65, 0.746)
}

.article-outer-container {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  padding: 30px;
  margin: 20px 0;
}

.article-container {
  flex: 9;
}

.library-btns-container {
  flex: 1;
}

.library-btns-container {
  display: flex;
  flex-direction: column;
}

.comment-btn {
  border: 1.25px solid rgba(0, 0, 0, 0.215);
  margin: 10px; 
}

.delete-btn {
  margin: 10px;
}

/*FINAL ARTICLE PAGE STYLES*/
#article-box {
  margin: 20px 0 40px 0;
}

.final-img-container {
  display: flex;
  justify-content: center;
}

/* Sticky footer styles/
//*********************/
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  
